/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <10 9>;
            layers = <0>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <37 17>;
            layers = <0>;
        };

        menu {
            bindings = <&kp K_MENU>;
            key-positions = <25 26 28 27>;
        };

        repeat {
            bindings = <&key_repeat>;
            key-positions = <31 32 33 34>;
        };
    };

    behaviors {
        HRM: HRM {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp Q            &kp W            &kp E         &kp R             &kp T                 &kp Y      &kp U             &kp I                 &kp O            &kp P                &kp LBKT
&kp ESCAPE  &HRM LEFT_GUI A  &HRM LEFT_ALT S  &HRM LCTRL D  &HRM RIGHT_ALT F  &kp G                 &kp H      &HRM RIGHT_ALT J  &HRM RIGHT_CONTROL K  &HRM LEFT_ALT L  &HRM RIGHT_GUI SEMI  &kp SQT
&kp LSHFT   &kp Z            &kp X            &kp C         &kp V             &kp B                 &kp N      &kp M             &kp COMMA             &kp DOT          &kp FSLH             &kp RBKT
                                              &mo 1         &kp BACKSPACE     &mt LEFT_SHIFT TAB    &kp ENTER  &kp SPACE         &mo 2
            >;

            label = "jaaj";
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp INS        &kp LS(N1)    &kp LS(N2)    &kp LS(N3)    &kp LS(N4)     &kp LS(N5)    &kp LS(N6)        &kp LS(N7)    &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &kp PRINTSCREEN
&kp BACKSPACE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4   &kp N5        &kp NUMBER_6      &kp N7        &kp N8      &kp N9      &kp N0      &kp DELETE
&kp F1         &kp F2        &kp F3        &kp F4        &kp F5         &kp F6        &kp F7            &kp F8        &kp F9      &kp F10     &kp F11     &kp F12
                                           &trans        &kp LEFT_META  &sl 3         &kp LEFT_CONTROL  &kp LEFT_ALT  &kp RALT
            >;

            label = "acab";
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&msc SCRL_UP    &mkp MB4         &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &mkp MB5            &kp HOME  &kp PG_UP  &kp UP      &kp PG_DN  &kp PRINTSCREEN  &none
&msc SCRL_LEFT  &msc SCRL_RIGHT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans              &kp END   &kp LEFT   &kp DOWN    &kp RIGHT  &none            &none
&msc SCRL_DOWN  &trans           &trans          &mkp MCLK       &trans           &trans              &kp CAPS  &none      &kp C_MENU  &none      &none            &none
                                                 &kp LGUI        &kp LEFT_SHIFT   &kp LEFT_CONTROL    &kp RET   &trans     &trans
            >;

            label = "queer";
        };

        ctrl {
            bindings = <
&bt BT_CLR_ALL  &none         &none         &none         &bootloader   &sys_reset      &none  &none  &none  &none  &none  &none
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &none
&out OUT_BLE    &out OUT_USB  &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
                                            &none         &none         &none           &none  &none  &none
            >;

            label = "vgnbtw";
        };
    };
};
